.game-list-container {
  background-color: #101820;
  color: #FEE715;
  padding: 40px;
  width: 100%;
  border-radius: 8px;
  margin: 5px auto;
}

.title {
  text-align: center;
  color: #FEE715;
  margin-bottom: 20px;
  font-size: 36px;
  text-transform: uppercase;
}

.search-bar {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 2px solid #FEE715;
  background-color: #101820;
  color: #FEE715;
  font-size: 18px;
}

.game-list {
  display: flex;
  flex-direction: column;
}

.game-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.game-item {
  flex: 1;
  background-color: #FEE715;
  color: #101820;
  border-radius: 8px;
  padding: 20px;
  margin-right: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.game-item:last-child {
  margin-right: 0;
}

.game-picture {
  width: 50%;
  height: auto;
  border-radius: 5px;
  border: 2px solid #fff;
  margin-top: 10px;
}

.game-picture-detailed {
  width: 100%;
  height: auto;
  border-radius: 5px;
  border: 2px solid #fff;
  margin-top: 10px;
}

.no-results {
  color: #FEE715;
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}
