.header {
  background-color: #101820;
  width: 100%;
  padding: 10px 0;
}

.navbar {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.swagger-logo {
  width: 200px;
  height: 125px;
}

.logo {
  background-image: url('../../assets/logo.png');
  width: 200px;
  height: 125px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}



.nav-left {
  display: flex;
  align-items: center;
}

.swagger-link {
  color: #FEE715;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.swagger-link:hover {
  color: #ffffff;
}

.nav-right {
  display: flex;
}

.nav-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin: 10px;
}

.nav-item a {
  text-decoration: none;
  color: #FEE715;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.nav-item a:hover {
  color: #ffffff;
}
